n8n/proc001-cobranca.json
{
  "id": "proc001cobranca01",
  "name": "PROC-001 — COBRANÇA (Etapas 1-4)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 1 }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "A cada 1h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "docker exec lcr-playwright sh -lc 'PYTHONUTF8=1 python src/orquestrar.py --competencia $(date +%Y-%m)'"
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Orquestrar PROC-001",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{ $json[\"exitCode\"] }}", "operation": "notEqual", "value2": 0 }
          ]
        }
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Falhou?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ PROC-001 orquestração falhou:\\n```\" + ($json[\"stderr\"] || $json[\"stdout\"] || \"erro\").slice(0, 1500) + \"```\"\n}"
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Alerta Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220]
    }
  ],
  "connections": {
    "A cada 1h": {
      "main": [[{ "node": "Orquestrar PROC-001", "type": "main", "index": 0 }]]
    },
    "Orquestrar PROC-001": {
      "main": [[{ "node": "Falhou?", "type": "main", "index": 0 }]]
    },
    "Falhou?": {
      "main": [
        [{ "node": "Alerta Slack", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Sao_Paulo" },
  "active": false
}
